html, body {
  margin: 0;
  padding: 0;
}

body {
	background: #000000;
	color: #ffffff;
	font-family: monospace;
	font-size: 18px;
}

a {
	color: rgb(105,155,255);
	text-decoration: none;
}

a:hover {
	text-transform: underline;
}
a:hover::after {
	content:' 🔗';
}

a:visited {
	color: rgb(166,104,227);
}
