html,
body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    var(--background-accent),
    var(--background)
  );
  color: var(--content);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  position: relative;
  max-width: calc(100dvw - 4rem);
  max-height: calc(100dvh - 3rem);
  z-index: 0;
  margin: 0;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 50px;
  overflow: hidden;
  --rotating-border-width: 5px;
  animation: slide-up ease-in 0.25s;
}

@keyframes slide-up {
  from {
    filter: blur(100px);
    opacity: 50%;
  }
}

main::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  scale: 5;
  background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    magenta,
    red 100%
  );
  animation: 3s rotate linear infinite;
}

main::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 2 * var(--rotating-border-width));
  height: calc(100% - 2 * var(--rotating-border-width));
  top: var(--rotating-border-width);
  left: var(--rotating-border-width);
  border-radius: 50px;
  background: var(--background-highlight);
}

@property --rotating-border-hue {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

h1 {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 2em;
  letter-spacing: 1px;
  color: var(--title);
}

h2 {
  margin: 0;
  padding-bottom: 0rem;
  font-family: "Origami Mommy";
  font-size: 1.25em;
  color: var(--highlight);
}

hr {
  margin: 0;
  padding: 0;
  border-color: var(--content);
}

a {
  color: var(--highlight-alt);
  font-weight: bold;
  overflow: hidden;
}

a:hover::after {
  content: " 🢡";
  position: absolute;
  white-space: pre;
  color: var(--content);
  animation: bump infinite alternate ease-in-out 0.5s;
}

@keyframes bump {
  to {
    translate: 50%;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 0.25rem;
}

li > span {
  font-size: 0.75rem;
  color: var(--content);
}

#resume-link {
  color: var(--highlight);
  font-size: 1.25rem;
}
